<button (click)="showMenu($event)"> <i class="fa fa-bars"></i> Menu</button>

<nav class="navbar" *ngIf='showNav'>
  <button (click)="handleClick($event)"> <i class="fa fa-times"></i></button>
  <a routerLink="about" routerLinkActive="active">About Us</a>
  <a routerLink="contact" routerLinkActive="active">Contact</a>
  <a routerLink="bhp" routerLinkActive="active">Bhp</a>
  <a routerLink="download" routerLinkActive="active">download</a>
  <a routerLink="price" routerLinkActive="active">price</a>
  <a routerLink="regulations" routerLinkActive="active">regulations</a>
</nav>

<router-outlet></router-outlet>

<footer> Copyright &copy; 2018 by wlodarzBHP - All right reserved.</footer>